/*
*===========================================================
*This file contains OTM custom  css. Theese will override
*the template css
*===========================================================
*/

/*
*--------------- Start of Universal css -----------------------
*/
.otm-button{
    background-color: #045082!important;
    color: #ffffff!important;
}
.btn-subscribe{
    background-color: #daa520 !important;
    color: #ffffff;
    }
.btn-subscribe:hover{
    background-color: #e7af22 !important;
    color: #ffffff;
}
.otm-button:hover{
    background-color: #187fc2 !important;
    color: #ffffff;
    /*border:1px solid #045082 ;*/
    font-weight: bold;
}
.danger {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
    border: none!important;
}
.one-px-left{
    padding-left: 1px;
 }
.property-content .custom-facilities-list{
    padding-left: 2px;
}
.description.one-px-left{
    padding-left: 0;
}
.homepage .property .property-content .custom-facilities-list{
    padding-left: 2px;
}
.left-border{
    border-left:1px solid goldenrod ;
    height: 50%;
}
.box-shadow:hover{
  box-shadow: 1px 1px 30px 1px grey;
  transition: box-shadow 0.3s ease-in-out;
}
::placeholder{
    color: #045082!important;
}
.content-area{
    background: #edeaea;
}
.property-content .property-footer{
    border-top: none!important;
}

.bootstrap-select>.dropdown-toggle {
    width: auto;
}
.homepage .bootstrap-select>.dropdown-toggle {
    width: 100%;
}
button .bs-caret{
    padding-left: 10px;
}
.error-text{
    color: #ff253a;
    font-weight: bold;
}

.searchTerm-Error{
    font-size: 6rem;
    color:  #ff0000;
    border: 2px solid #ff0000;
    padding: 0 2rem;
    border-radius: 4rem;
    text-align: center;
}
#error-message{
    font-size: 3rem;
    color:  #ff0000;
}
.modal-dialog {
    margin: 69px auto;
}
.pagination > li > a, .pagination > li > span {
   margin: 0 3px 5px;

}
.ref-div{
    border: 1px solid red;
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 10px;
}
.singleList-refCode{
    color: #3282C4;
    font-weight: bold;
}
.help-block {
    font-size: 1.4rem!important;
    color: #ff0000;
}
.myIframe {
    position: relative;
    padding-bottom: 65.25%;
    padding-top: 30px;
    height: 0;
    overflow: auto;
    -webkit-overflow-scrolling:touch;
}
.myIframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*
*---------------End of Universal css -----------------------
*/

/*
*--------------- Start of header css -----------------------
*/

.navbar-nav{
    float: right!important;
}
.drop-list-property{
    display: none;
}
#currency-changer-link{
    padding: 1.95rem 0.5rem 2rem 0.6rem;
}
#currency-changer-span img{
   width: 4rem;
}
#login-icon img{
    width: 3.5rem;
}
#login-icon-link{
    padding: 2.1rem 0 2rem 0;
}
#app-navigation{
    padding-right: 0;
}
/*#list-property-link{
    padding: 1.8rem 0 2rem 0.5rem;
}*/
.add-button:hover{
    text-decoration: none!important;
    background: #398ed4 !important;
    font-weight: normal!important;
}
.add-button{
    background: #3282C4!important;
}
#list-property-link button:hover{
    font-weight: normal;
}
.otm-nav{
    padding-left: 0.5rem!important;
}
#app-navigation .navbar-nav .dropdown a{
    color: #045082;
}
#app-navigation .navbar-nav .dropdown a:hover{
    font-weight: normal;
}
#app-navigation .navbar-nav .dropdown.active a{
    font-weight: bold;
}
#app-navigation .navbar-nav .dropdown a {
    color: #045082;
}
.main-header .navbar-default .nav > li > a {
    padding: 30px 4px 30px;
}
#app-navigation .navbar-nav .dropdown.active .nav-links{
    border-bottom: 2px solid goldenrod;
}
#search-icon i{
    font-size: 22px!important;
    color: #045082;
}
#search-icon{
    margin-top: 21px;
    margin-right: 10px;
}
.select2-container .select2-search--inline .select2-search__field {
    padding: 0.55rem!important;
}
.navbar-toggle .icon-bar {
    height: 4px;
    border-radius: 0px;
}
.form-group.locations{
    margin-top: 1px;
    border-radius: 2rem;
}
.search-fields {
    border-radius: 0px;
}
#search-area-txt{
    border-radius: 0px;
}


.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}
#min-price{
    position: absolute;
    left: 3rem;
    top: 0;
    font-weight: bold;
}
#max-price{
    position: absolute;
    right: 3rem;
    top: 0;
    font-weight: bold;
}
.currency-container{
    position: absolute;
    top: 7rem;
    right: 48rem;
    background: #045082;
    color: #ffffff;
    z-index: 30 ;
    padding: 1rem;
}
.currency-container .currency-menu a{
    color: #ffffff;
}
.li-currency.active a{
    font-weight: bold!important;
}

/*
*--------------- End of header css ----------------------
*/


/*
*--------------- Start of search section (Corousel) css ----------------------
*/
.search-button:hover{
    background: #eeb526;
    font-weight: bold!important;
}
.property-types-tabs .search-type{
    padding-left: 0!important;
}
.property-types-tabs .list-inline{
    padding-left: 0;
}
.search-button{
    background: #DAA520;
}
.search-area-inner{
    background: #045082;
    padding:0.3rem 2rem 0 2rem;
    margin: 4rem 2rem 4rem 2rem;
}
.search-area-inner h3{
    color: #ffffff
}
.range-slider .ui-slider .ui-slider-handle {
    border: 2px solid #ffffff!important;
}
.range-slider .ui-widget-header {
    background-color: #ffffff;
}
.range-slider-ui .min-value{
    color: #ffffff;
}
.range-slider-ui .max-value{
    color: #ffffff;
}
.search .custom-facilities-list li {
    width: 16%;
    margin-right: 2px;
}
.inner-search-btn{
    position: absolute;
    right: 2rem;
    width: 6.5rem;
    top: 0
}
.inner-search-btn button{
    color: white!important;
    padding: 13px
}
.custom-left-padding{
    padding-right: 7px;
    padding-left: 20px;
}
.inner-search .bootstrap-select > .dropdown-toggle {
    width: 100%;
}
.search-type{
    color: #ffffff!important;
    font-weight: bold;
}
.search-type a{
    color: #ffffff;
    font-size: 1.6rem;
}
.search-type .active{
    border-bottom: 3px solid goldenrod;
}
.search-type a:hover{
    color: #ffffff;
   /* border-bottom: 3px solid goldenrod;*/
}
.property-types-tabs .list-inline{
    margin-left:0;
    margin-bottom: 10px;
}
.property-types-tabs .list-inline>li {
    display: inline-block;
}
.range-slider{
    margin-top: 0;
}
.range-slider-price{
    margin-bottom: 0!important;
    color: #ffffff!important;
}
#search-area-txt{
    padding: 2.1rem;
    padding-left: 15px;
    color: #045082!important;
}
.form-group .area-button{
    position: absolute;
    top: 3px;
    right: 13px;
    color: grey !important;
    font-weight: bold;
    padding: 1rem;
    border: none!important;
}
.area-si-unit{
    border: 1px solid #ffffff;
    padding:0 0 0 0;
    width: 47%;
    margin-top: 3px;
    position: absolute;
    background: #045082;
    right: 15px;
    z-index: 50;
}
.area-si-unit .si-unit li{
    color: #ffffff;
    padding-left: 8px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.5rem;
    horiz-align: center;
}
.area-si-unit .si-unit li:hover{
    cursor: pointer;
    color: #ffffff;
    background: goldenrod;
}
.bed-bath .btn-group  .dropdown-menu .bs-searchbox .form-control{
    display: none!important;
}
.locations .btn-group .dropdown-toggle .filter-option {
    display: table-cell;
    color: #045082;
}
.bootstrap-select button {
    color: #045082;
}
.unit.active {
    background: goldenrod;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #045082!important;
}

/*
*--------------- End of search section (Corousel) css ----------------------
*/


/*
*--------------- Start of Featured Partners corosel css ----------------------
*/
.custom-main-title h1 {
    font-weight: normal;
    margin: 0 0 15px;
    margin-top: 2rem;
    font-size: 30px;
    text-align: center;
}
.content-area.featured-properties{
    background: #e1ecf0;
}

.our-partners .partner-box img {
    height: auto;
}
.box{
    border-left: 1px solid goldenrod;
}
.partner-box a img {
    width: 25rem!important;
}
.partner-box a img:hover {
    box-shadow: 1px 1px 10px 1px grey;
}
.our-partners .partner-box {
    background: #fff;
    padding: 0!important;
}
.partner-box a img{
    width: 10rem;
}
.our-partners img {
    filter: none;
}
.banner .item-100vh {
    height: 70vh;
}
.partners-block .container h2{
    margin-top: 11px;
}

/*
*--------------- End of Featured Partners corosel css ----------------------
*/

/*
*--------------- Start of Featured Properties css ----------------------
*/
.property .property-content {
    padding: 16px 16px !important;
}
.content-area {
    padding-top: 10px!important;
    padding-bottom: 39px!important;
}
.property-price{
    left:0;
    bottom:0;
    margin: 0;
    width:100%;
    color: #ffffff;
    background: #045082!important;
    border-right: none;
    border-left: none;
    padding: 5px
}
.featured-label{
    bottom: 15rem!important;
}
.featured-price{
    padding-left: 15px!important;
}
.home.property-tag{
    bottom: 7px!important;
}
.property-tag{
    bottom: 5px!important;
    z-index:25!important;
}
.property-content .title {
     margin: 0px;
}
.property-content .property-address {
    margin: 0 0 6px;
}
.li-line-height{
    line-height: 21px!important;
}
ul{
    color: #045082!important;
}
.icon{
    font-size: 1rem ;
}

.property-agent-logo img{
    position: absolute;
    top: 0;
    right: 15px;
}
.facebook-no-hover:hover{
    background: none!important;
}
.description.text-left{
    padding-top: 7px;
    height: 4.5rem
}
.facilities-list{
    height: 2rem!important;
}
.custom-facilities-list{
    height: 2rem!important;
}


/*
*--------------- End of Featured Properties css ----------------------
*/

/*
*--------------- Start of Featured Properties css ----------------------
*/
.mb-70.recently-properties{
    margin-bottom: 20px!important;
}
.hr-custom{
    width: 100%;
    line-height: 1;
    border: 1px solid lightgray;
    border-bottom: none;
    margin-bottom: 1rem;
}
.property-content .custom-facilities-list{
    padding: 0;
    margin: 0;
}
.property-content .custom-facilities-list li {
    width: 32%;
    /*width: 27%;*/
    float: left;
    font-size: 15px;
    line-height: 29px;
}
.featured-listing-card .property-content .custom-facilities-list li {
    width: 27%;
    float: left;
    font-size: 15px;
    line-height: 29px;
}
.property-content .innerSearch-facilities-list{
    padding: 0;
    margin: 0;
}
/*.inner-search select{
    display: none;
}*/
.property-content .innerSearch-facilities-list li {
    float: left;
    font-size: 15px;
    line-height: 29px;
    margin-right: 7px ;
}
.property-content .innerSearch-facilities-list .width-11 .search-fields .dropdown-menu.open li{
    float: none!important;
}
.innerSearch-location .select2-container .select2-search--inline .select2-search__field {
    margin-bottom: 2px;
}
.area-si-unit.inner-si li{
    float: none!important;
    margin-right: 0!important;
}
.area-si-unit.inner-si{
    width: 17%;
    right: 88px;
    color: #045082;
}
.inner-si-btn{
    right: 9rem!important;
    top: 2px!important;
}

/*
*----------------- End of Featured Property Css ----------------------
*/

/*
*----------------- Start of Recent Property Css ----------------------
*/
.property-2{
    box-shadow: 1px 1px 10px 1px grey;
    border: none;
}
.property-2:hover{
    box-shadow: 1px 1px 13px 1px grey;
    border: none;
}

.custom-icon::after {
    display: inline-block;
    padding-right: .1rem;
    padding-left: 0.6rem;
    color: #4d4d4d;
    content: "|";
}
.property-2 .facilities-list li {
    margin-right: 12px!important;
}
.price-ratings .price{
    text-shadow: 2px 2px 4px #000000;
}
.property-2 .price-ratings .price {
    font-size: 20px;
}
.property-2 .property-address a {
    font-size: 13px;
 }
.property-2 .facilities-list {
    padding: 0 20px;
}
.pipe{
    padding-left: 0.9rem;
}
.property-2 .facilities-list {
    border-top: none;
}
.home .title{
    height: 4rem;
}
/*
*----------------- End of Recent Property Css ----------------------
*/


/*
*--------------- Start of Facebook section css ----------------------
*/
.main-title{
    padding-top: 42px!important;
}
.facebook-section img{
    width: 7rem;
    margin-bottom: 15px;
}
.mb-100.our-service{
    margin-bottom: 0!important;
}
.social-media-text{
    cursor: pointer;
}
.like-us-btn{
    margin-top: 25px;
}
.like-us-btn .btn:hover{
    background: #045082;
}
.mgn-btm{
    padding-bottom: 3rem;
}

/*
*--------------- Start of Facebook section css ----------------------
*/

/*
*--------------- Start of pb-advert section css ----------------------
*/
.intro-section img {
  height: auto!important;
}
.intro-section {
    padding: 0;
}
/*
*---------------- Start of footer section css -----------------------
*/
footer{
    padding-top: 50px;
    background: #045082!important;
}
.personal-info #bottom-logo{
    padding-left: 0!important;
}
#bottom-logo img{
    width: 20rem;
}
/*
*---------------- End of footer section css -----------------------
*/

/*
*---------------- Start of popular location in zim section css -----------------------
*/
#locations_heading{
    color: #045082!important;
}
.heading a{
    padding-top: 1.5rem!important;
    font-size: 1.7rem!important;
    font-weight: bold;
    color: #045082!important;
}
#location_top_heading{
    padding-top: 1.1rem!important;
}

/*
*---------------- End of popular location in zim section css -----------------------
*/

/*==============================================================
               The following css will manage the listing
================================================================
 */
.sub-banner{
    height: 8rem;
}
.parameters.property-content .facilities-list li {
    width: auto;
    margin-right: 1rem;
}
.parameters.property-content{
    padding: 0;
}
.sub-banner .breadcrumb-area {
    top: 9%;
}
.parameters .facilities-list .search-fields {
    border: none;
}
.parameters .facilities-list .form-group .search-fields button {
    background: none;
    padding-left: 0;
}

.inner-search .form-group {
    margin-bottom: 0;
}
.inner-search{
    padding: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: #045082;

}

.width-11{
    width: 11rem;
}

.property-content .innerSearch-facilities-list li i {
    margin-right: 3px;
    font-size: 14px;
    font-weight: 400;
}
.custom-property-tag.featured {
    left: 15px;
    margin-top: 15px;
    position: absolute;
    background: #045082;
    z-index: 19;
}

.bootstrap-select .dropdown-menu li a {
    padding: 5px!important;
}

.featured-listing-card{
    border: 1px solid #045082;
}

.agency-logo img{
    width: 15rem!important;
    position: absolute;
    top: 10px;
    right: 10px;
}
.list-heading{
    padding-left: 15px;
}
.orderby-heading{
    font-size: 14px;
    padding-top: 0.4rem;
}
.orderby-heading-desktop{
    font-size: 14px;
    padding-top: 3px;
}
.option-bar .sorting {
    border: none;
    color: #045082;
}
.label-orderby{
    position: relative;
    top:0.4rem;
    font-size: 1.5rem;
}
.sorting-options.form-group{
    width: 100%;
}

.selectpicker.sorting{
    padding-top: 9px
}
.sorting{
    margin-top: 0.6rem ;
}
.option-bar .sorting-options {
    margin: 0 0 0 0;
    text-align: right;
    float: right;
}
.btn-group.sorting{
    padding-left: 0;
}
.btn-group.sorting button{
    padding-left: 0;
}
.option-bar{
    background: none;
}
.option-bar .remove-Lpadding-mobile{
    padding-left: 0;
}
.option-bar .remove-Lpadding-mobile .list-heading{
    padding-left: 0;
}
.option-bar .cod-pad.remove-Rpadding-mobile{
    background: #ffffff;
    margin-bottom: 0.8rem;
}
.sorting button{
    border: none;
}
.sorting .open .inner li a {
   /* color: #045082;*/
    margin-right: 0!important;
    font-size: 13px;
}
.sorting .open ul{
    width: 16rem;
}

.custom-property-footer .viewmore-link{
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.left a{
    position: absolute;
    bottom: 15px;
    right: 11rem!important;
    background: goldenrod;
    border: goldenrod;
    padding: 0.7rem 3rem;
}
.left a:hover{
    background: #e5ae22;
    border: #e5ae22;
}
.left .fa-phone{
    color: #ffffff;
}
.left.the-price{
    font-size: 2rem;
    font-weight: bold!important;
    color: #045082;
}
.the-price{
    position: absolute;
    bottom: 15px;
}
.featured-property-price{
    background: #045082;
    font-size: 2rem;
    color: #ffffff;
    padding: 1rem;
    padding-left: 15px;
}
.featured-listing-card .property-content .title{
    width: 61%;
}
.featured-listing-card .property-content .agent-title{
    width: 100%;
}

.listing-img .property-tag.sale{
    bottom: 11px!important;
}

.second-heading{
    padding-top: 15px;
    color: #045082;
}
.remove-padding{
    padding-left: 0!important;
    padding-right: 0!important;
}
.remove-padding-left{
    padding-left: 0!important;
}
.remove-padding-right{
    padding-right: 0!important;
}
.alt-featured .property-content .custom-facilities-list li {
    width: 24%;
}
.normal-listing .property-content .custom-facilities-list li {
    width: 14%;
}
.vh{
    border-left: 1px solid green;
    height: 18rem;
    position: absolute;
    right: 90%;
    margin-left: -3px;
    top: 1rem;
    opacity: 0.1;
}


.alt-agency-logo img {
    width: 15rem!important;
    position: absolute;
    top: -6px;
    right: -9px;
}
.custom-property-footer .left img{
    position: absolute;
    width: 15rem!important;
    bottom: 3px;
    right: 42%;
}
.alt-featured-viewMore{
    width: 15rem;
}
.featured-property-price-alt {
    font-weight: bold;
    color: #045082;
    position: absolute;
    top: 7rem;
    right: 5px;
    font-size: 2rem;
}
.featured-property-price-alt2{
    color: #40095D;
    font-weight: bold;
    font-size: 2.5rem;
    padding: 2rem;
    padding-left: 15px;
    bottom: 0;
    background: yellow;
    /*background-image: linear-gradient(to right,yellow,#ffffff) ;
*/
}
.image_1 {
       padding-left: 3px;
    margin-bottom: 4px;
}
.image_2{
      padding-left: 3px;
    margin-bottom: 4px;
}
.image_3{
    padding-left: 3px;
}
.featured-property-price-alt2 .property-tag {
    bottom: 20px!important;
}
.viewmore-alt button{
    position: absolute;
    right: 19px;
    bottom: 18px;

}
.normal-listing .property-img .property-price{
    background: none!important;
    border: none;
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
    font-size: 2.5rem;
    font-weight: bold;
    padding-left: 15px;
}
.normal-listing .property-footer{
    border-top: none;
    padding-top: 7px!important;
}
.normal-listing .property-footer .btn{
    color: #ffffff!important;
}
.normal-listing .property-content .agency-logo img{
    width: 12rem!important;
    right: 15px;
    top: 15px;
}
.normal-listing .property-content .title{
    height: 4rem;
}
.title-location {
    min-height: 4.5rem;
}
/*.title-location {
    min-height: 7.5rem;
}*/
.left .property-price{
    background: none!important;
    color: #045082;
    border: none!important;
}
.normal-listing .property-content .description{
    height: 4rem;
    padding-top: 7px
}

.property-content .property-footer {
    border-top: solid 1px #f1f1f1;
    padding-top: 15px;
    margin-top: 0;
    color: #535353;
    font-size: 14px;
}
.normal-listing .property-content .property-footer .view-more{
    padding-top: 2px;
}
.category-posts .main-title-2{
    margin-bottom: 0;
}
.category-posts .main-title-2 h1{
    margin-bottom: 0;
}
.nav-arrow {
    padding-bottom: 8px!important;
    padding-top: 5px!important;
}
/*
=======================================================================================
The following css will mange the single listing page
=======================================================================================
*/

#vt-image{
    height: 50px;
}

.pull-left h3{
    font-size: 21px!important;
}
.pull-right h3{
    font-size: 21px!important;
}
.main-title-2.siberBar-agency-logo{
    margin-bottom: 0.4rem;
}
.main-title-2{
    color: #045082;
}
.agent-details{
    padding-top: 0.8rem;
}
.agent-details .main-title-2{
    margin-bottom: 1.8rem;
}
.author-name{
    font-size: 1.6rem;
  /*  margin-bottom: 0.8rem;*/
    font-weight: 700;
}
.number-box{
    background: none;
    color: #045082;
    padding: 0px 6px;
    border: 3px solid #045082;
    font-weight: bold;
}
.properties-condition ul li i {
    font-size: 29px;
}
.properties-amenities ul li i {
    font-size: 29px;
}

.features{
    float: left;
    margin-right: 4rem
}
.tab-pane.features{
    margin-right: 0;
    width: 100%;
}
.mobile-number{
    padding-left: 0;
    color: #045082;
}
.contact-1 .main-title-2{
    margin-bottom: 1rem;
}
.agency-name{
    margin-top: 1.1rem;
}
.report-btn{
    margin-top: 1rem;
}
.call-btn{
    font-size: 1.7rem;
    color: #045082;
    margin: 0 1rem;
}
.whatsapp-btn{
    font-size: 1.7rem;
    color: #25D366;
    margin: 0 1rem;
}
.agent-detail a:hover{
    text-decoration: none;
}
#agent-details-btn{
    margin-bottom: 0.8rem;
    border: none!important;
}
.social-media{
    padding-left: 0;
    padding-right: 0;
}
.social-media .main-title-2{
    margin-bottom: 0px;
}
.social-media.sidebar-widget{
    margin-bottom: 0;
}
.heading-properties.sidebar-widget{
    margin-bottom: 0;
}
.contact-1 .contact-form form textarea {
    min-height: 91px!important;
}
.whatsapp-bg:hover{
    background: #4FCE5D;
}
.panel-box .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background: goldenrod!important;
    color: #fff;
    box-shadow: 2px 2px 4px 2px rgba(0,0,0,0.15);
}
.properties-panel-box .nav-tabs>li>a:hover {
    color: #fff;
    background: goldenrod;
}
.property-content .title {
    width: 67%;
}

.homepage .property-content .title{
    width: 93%;
}

/*.copy-right{
    background: #3282C4;
    color: #FFFFFF;
}*/
.copy-right{
    background: #03253c;
	border-top: None!important
}
/****************** This section will manage the singlisting page ********************/
.report-btn button{
    border: none;
    background-image: none;
}
#agent-details-btn{
    padding-bottom: 8px;
    padding-top: 7px;
}
.main-title-2.send-email{
    margin-top: 1.5rem;
}
.heading-properties.sidebar-widget {
    padding-bottom: 0;
}
.Properties-details-section.sidebar-widget{
    padding-top: 15px;
}
button .bs-caret {
    padding-left: 19px;
}
footer .footer-item .newsletter{
    background: #04436c;
}
.contact-1 .contact-form .form-group {
    margin-bottom: 12px;
}
.send-btn .search-button{
    padding: 7px 20px;
}
.sidebar-widget.category-posts{
    margin-top: 5rem!important;
}

.bed-bath .btn-group .dropdown-menu .dropdown-menu.inner{
    max-height: 100px!important;
}
.width-11 .btn-group .dropdown-menu .dropdown-menu.inner{
    max-height: 100px!important;
}
.property-img img{
    height: 224px;
}

/**************************** This is the start of website custom responsiveness **************************/
@media (max-width: 1366px) {
    .currency-container{
        right: 20rem;
    }

}
@media (min-width: 1024px) {
    .properties-detail-slider .carousel .carousel-inner{
        height: 438px;
        margin-bottom: 6px;
    }
    .carousel-inner .item.active .img{
        height: 400px!important;
    }

}
@media (max-width: 1024px) {
/*
===========================================================================
    Begging of innerSearch responsive css
===========================================================================
*/
    .inner-search{
        margin-left: 0.3rem;
    }
    .inner-search-btn{
        position: absolute;
        right: 3rem;
        top: 0
    }
    .property-content .innerSearch-facilities-list li {
        margin-right: 6px;
    }
    .width-11 {
        width: 10rem;
    }
    .width-11 .btn-group .btn{
        padding-left: 7px;
        padding-right: 7px;
    }
    .inner-si-btn {
        right: 10rem!important;
    }
    #search-area-txt {
        padding-left: 8px;
    }
    .banner .item-100vh {
        height: 36vh;
    }
    .search-area-inner {
        margin: 0 2rem 0rem 2rem;
    }


    /******************** Partner logos ************************/
    .partner-box a img {
        width: 21rem!important;
    }
    /******************* listing *************************/
    .property-content .title {
        width: 96%;
    }
    .homepage .property-content .custom-facilities-list .pipe{
        padding-left: 1rem;
    }
    .homepage .property-content .title-location{
        min-height: 4.5rem;
    }

    /**************** recent properties ******************/
    .our-partners .item .recent-property .property-2 .content .title{
        height: 4.5rem;
    }
    .our-partners .item .recent-property .property-2 .content .property-address{
        height: 4rem;
    }
    .property-2 .facilities-list .pipe{
        padding-left: 0!important;
        padding-right: 3px;
    }
    .property-2 .facilities-list li{
        margin-right: 1px!important;
    }
    /*
    =================================================================
    Start of responsive css for single listing page
    =================================================================
     */

    .heading-properties h3 {
       font-size: 1.8rem;
    }
    .properties-panel-box .nav > li > a {
        padding: 10px 13px;
     }
    .main-title-2 h1 {
        font-size: 18px;
    }
    .pull-left h3 {
        font-size: 17px!important;
    }
    .pull-right h3 {
        font-size: 17px!important;
    }
    /*
    =================================================================
    Start of responsive css for single listing page
    =================================================================
     */
    .featured-listing-card .property-content .custom-facilities-list li{
        width: 33%;
    }

    .property-content .custom-facilities-list li{
        width: 24%;
        font-size: 14px;
    }
    .agency-logo img{
        width: 12rem!important;
    }
    .featured-listing-card .property-content .title{
        width: 63%;
    }
    .featured-listing-card .property-content .title{
        font-size: 18px;
    }
    .normal-listing .property-content .title{
        width: 64%;
        font-size: 18px;
    }
    .normal-listing .property-content .agency-logo img{
        width: 11rem!important;
    }
    .normal-listing .property-content .custom-facilities-list li{
        width: 18%;
    }
    .normal-listing .property-content .property-footer .view-more{
        padding-top: 10px;
    }

    /*
   =================================================================
   Start of responsive css for footer
   =================================================================
    */
    footer {
        padding-top: 50px;
    }
   .links{
        padding-left: 1.3rem;
    }
}

@media (min-width: 837px) {
    .navbar-collapse.collapse {
        display: block!important;
    }
}
@media (max-width: 834px) {
    @media (min-width: 768px) {
        .change-float{
            float: right!important;
        }
    }
    /*
   ================================================================
   Start of  responsive css for header
   ================================================================
    */
    .logo-class img{
        width: 12rem;
        padding-top: 20px!Important;
    }
    .currency-container {
        right: 9rem;
        top: 5rem;
    }

    /*
    ================================================================
    Start of  responsive css for innersearch
    ================================================================
     */
    .sub-banner {
        height: 14rem;
    }
    .search-parameter.remove-padding{
        padding-left: 15px!important;
        padding-right: 15px!important;
    }
    .width-11 .search-fields {
        border: none;
        background: none;
    }
    .width-11 .btn-group button{
        background: none;
        color: white!important;
    }
    .innerSearch-location {
        width: 89%;
    }
    .alt-txt-area{
        position: absolute;
        right: 9rem;
        float: right;
        display: block;
        bottom: 0.2rem;
    }
    .inner-search-btn {
        top: -44px;
        right: 1.7rem;
    }
    .inner-si-btn {
        right: 0 !important;
    }
    .width-11.alt-txt-area{
        width: 13rem;
    }
    .area-si-unit.inner-si {
        width: 88%;
        right: 15px;
    }
    /********************** homepage slider ***************/
    
    .banner .item-100vh {
        height: 58vh;
    }
    .range-slider{
        margin-bottom: 0;
    }
    .partner-box a img {
        width: 16rem!important;
    }

    /*********************** Homepage listing ********************/
    .homepage .property-content .custom-facilities-list li {
        width: 32%;
        font-size: 14px;
    }
    /************ listing page properties ***********/
    .featured-listing-card .property-content .custom-facilities-list li {
        width: 28%;
    }
    .normal-listing .property-content .custom-facilities-list li {
        width: 15%;
    }
    /************ recent properties**************/
    .our-partners .item .recent-property .property-2 .content .title {
        height: 3.5rem;
    }
    .property-2 .home {
      padding-bottom: 0;
    }
    /********************* facebook section *****************/
    .social-media-text{
        height: 12rem;
    }
    .facebook-section h4{
        height: 3.5rem;
    }
    .links {
        padding-left: 2.7rem;
    }

}
/*
=========================================================================
The following css lines will manage responsiveness of Ipad 768px screen
=========================================================================
 */
#tablet-menu.navbar-collapse {
    display: none;
}
@media (max-width: 834px) and (min-width: 768px){
    .logo-class img {
        width: 12rem;
        padding-top: 0px!Important;
    }
    .custom-collapsed-search-icon{
        display: block;
        float: right;
        position: absolute;
        right: 2rem;
        margin-top: 0!important;
        padding-top: 1.6rem!important;

    }
    @media  (min-width: 834px){
        #tablet-menu .navbar-nav {
            padding-left: 2.7rem;
        }
        .navbar-toggle {
            margin-right: 0;
        }
        .navbar-default .navbar-toggle {
            border: none!important;
            padding-right: 0;
        }
        .custom-collapsed-search-icon {
            padding-top: 0.9rem !important;
        }
        #search-icon {
            margin-top: 7px;
            margin-right: 12px;
        }
        #currency-changer-span img {
            width: 3.5rem;
        }
    }
    #tablet-menu .navbar-nav {
        float: left !important;
    }
    #tablet-menu .navbar-nav .dropdown.active .nav-links {
        border-bottom: 2px solid goldenrod;
    }
    #tablet-menu .nav > li > a {
        padding: 7px 15px !important;
        text-align: left;
        font-size: 13px!important;
        font-weight: lighter;
        color: #045082;
    }
    .navbar-nav > li {
        float: none;
    }
    #list-property-link span {
        padding: 0!important;
    }
    .drop-list-property {
        display: block;
    }
    #tablet-menu{
        background: #ffffff;
    }
    #app-navigation{
        display: none!important;
    }
    .custom-collapsed{
        display: block;
        float: right;
        position: absolute;
        right: 0;
    }

    .custom-collapsed-2{
        display: block;
        float: right;
        position: absolute;
        right: 5rem;
    }
    #mobile-search {
        background: #045082;
        z-index: 30;
        position: absolute!important;
        height: 100%!important;
        width: 100%;
    }
    #mobile-search .container .hidden-md .remove-padding{
        padding-right: 15px;
    }
    .select2-container--default .select2-search--inline .select2-search__field {
        width: 100% !important;
    }
    .select2.select2-container {
        width: 100% !important;
    }
    .mobile-search-heading{
        color: #ffffff!important;
    }

}
@media (max-width: 768px) {

   /* #currency-changer-link{
        padding-top: 2rem!important;
    }*/
    .currency-container{
        position: fixed;
    }
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        background: #ffffff;
        z-index: 100;
    }

    .sticky + .content {
        padding-top: 102px;
    }
    button .bs-caret {
        padding-left: 19px;
    }
    #login-icon img{
        width: 2.9rem;
    }
    #currency-changer-span img {
        width: 3.5rem;
    }
    .currency-container {
        right: 7rem;

    }
    /*.main-header .navbar-default .nav > li > a {
        padding: 30px 4px 35px!important;
    }*/
    nav{

    }
    #app-navigation .nav .dropdown a {
        padding: 30px 4px 35px!important;
    }
    #app-navigation .nav .dropdown.login-icon-link a{
        padding-top: 25px!important;
    }
    #app-navigation .nav .dropdown.mobile-hide a{
        padding-top: 22px!important;
    }
    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
        background-color: inherit;
        color: #045082! important;
    }
    .main-header .navbar-default .nav > li > a:hover {
        background: none;
        color: #045082!important;
    }
    #list-property-link span{
        padding: 0.7rem;
    }

    #login-icon-link{
        padding-top: 2.3rem!important;
    }
    .property-content .custom-facilities-list li{
        width: 33%;
    }
    .property-content .property-address {
        margin: 0 0 0;
    }
    .normal-listing .property-content .property-footer .view-more {
        padding-top: 4px;
    }
    .normal-listing .property-content .description {
        height: 3.8rem;
        padding-top: 2px;
    }
    /******************* listing *************************/
    .label-orderby{
        padding-left: 30px;
    }
    /****************** homepage search ********************/
    .form-group .btn-group button {
        padding: 6px 12px;
        margin-bottom: 0;
    }
    .search-area-inner h3{
        padding-left: 14px;
        margin-top: 10px;
    }
    .inner-area-inner{
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    /****************** footer ***************/
    .footer-item .links {
        padding-left: 2.8rem;
    }
    /******************* page nav *************/
    .pagination{
        margin-top: 0;
        margin-bottom: 32px;
    }


}
/*
====================================================================================
The following css will manage responsiveness for screens upto 414px
====================================================================================
 */
@media (max-width: 414px) {
    #app-navigation .nav .dropdown a {
        padding: 5px 4px 3px !important;
    }
    #app-navigation .nav .dropdown.login-icon-link a {
        padding-top: 4px !important;
    }
    .select2.select2-container{
        width: 100%!important;
    }
    .select2-container--default .select2-search--inline .select2-search__field {
       width: 100%!important;
    }
    .select2-search.select2-search--inline {
        width: 100%;
    }
    .label-orderby{
        padding-left: 0;
    }
    /************* Univesal css ***************/
    .remove-Lpadding-mobile{
        padding-left: 0!important;
    }
    .remove-Rpadding-mobile{
        padding-right: 0!important;
    }
    .pipe{
        padding-left: 0!important;
    }

    /*************************** Nav bar ******************************/
    .logo-class img {
        width: 12rem;
        padding-top: 3px!Important;
        padding-bottom: 3px!Important;
    }
    .navbar-nav {
        float: left !important;
    }
    .main-header .navbar-default .nav > li > a {
        padding: 6px 15px !important;
    }
    #list-property-link .otm-button{
        display: none;
    }
    .drop-list-property{
        display: block;
    }
    #list-property-link span {
        padding: 0;
    }
    .mobile-hide{
        display: none!important;
    }
    #app-navigation{
        z-index: 30;
        position: absolute;
        background: #ffffff;
        width: 100%;
    }
    #app-navigation ul{
        padding-left: 15px;
    }
    #mobile-search{
        background: #045082;
        z-index: 30;
        position: absolute;
        height: 100%;
    }
    header .container{
        padding-left: 0;
    }
    .navbar-header .logo-class{
        padding-left: 15px;
    }
    #mobile-search form{
    /*    padding-left: 8px;
        padding-right: 8px;
    */}
    #login-icon-link {
        padding-top: 0!important;
    }
    #currency-changer-link{
        margin-top: 0;
    }
    #currency-changer-span img {
        /*width: 2.6rem;*/
        width: 2.85rem;
    }
    #currency-changer-link {
        padding-top: 1.8rem !important;
        padding-bottom: 0;
        padding-right: 10px;
    }

    #search-icon {
        margin-right: 2px;
    }
   /*.currency-container{
       position: fixed;
      !* top: 5rem;*!
       right: 2rem;
       background: #045082;
       color: #ffffff;
       z-index: 20 ;
       padding: 1rem;
    }*/

   .currency-container .currency-menu a{
       color: #ffffff;
   }
    .area-si-unit {
        width: 68%;
    }
    /***************** homepage slider *******************/
    .banner .item-100vh {
        height: 75vh;
    }
    .search-area-inner {
        margin: 0 0 0 0;
        padding-left: 0;
        padding-right: 0;
    }
    .banner-content{
        max-width: 100%;
    }
    .home.range-slider .ui-widget-header {
        background-color: #ffffff;
    }
    .home .range-slider-price{
        color: #ffffff!important;
    }
    .home .range-slider-ui .min-value {
        color: #ffffff;
    }
    .home .range-slider-ui .max-value {
        color: #ffffff;
    }
    .home.ranger-slider label{
        text-align: center!important;
    }
    .search-area-inner h3{
        font-size: 23px!important;
        padding-left: 16px;
    }
    /**************** homepage logo ****************/
    .third-logo.box{
        border-left: none;
    }
    /*************** drop down search ***************/
   .mobile-search-heading{
       color: #ffffff;
   }
    .range-slider .ui-widget-header {
        background-color: #ffffff;
    }
    .range-slider-price{
        color: #045082!important;
    }
    .range-slider-ui .min-value {
        color: #045082;
    }
    .range-slider-ui .max-value {
        color: #045082;
    }
    .ranger-slider label{
        text-align: center!important;
    }
    .mobile .bootstrap-select>.dropdown-toggle {
        width: 100%;
    }
    /****************** homepage logo *******************/
    .partner-box{
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    /***************** homepage properties *************/
    .homepage .property-address{
        margin-bottom: 1.5rem;
    }
    .homepage .property .property-content .custom-facilities-list .li-line-height .pipe{
        padding-left: 5px!important;
    }
    /***************** start heading of the single listing property ***************/
    .singleListing{
        padding-bottom: 0;
    }
    .singleListing .pull-right{
        float: left!important;
        margin-top: 0.7rem;
    }
    .singleListing .pull-right h3{
        margin-bottom: 0;
    }
    .per-month{
        font-size: 1.2rem!important;
    }
    /************* homepage listing ************/
    .homepage .property-content .custom-facilities-list li {
        width: 26%;
        font-size: 14px;
    }
    .featured-listing .pipe{
         padding-left: 1px!important;
    }



    /*************** Listing page css ******************/
    .list-heading {
        padding-left: 0;
    }
    .option-bar{
        background: none!important;
        margin-top: 0.2rem;
        margin-bottom: 9px;
    }
    .option-bar .sorting{
        background: none!important;
    }
    .btn-group.sorting button{
        padding-left: 0;
    }
    .label-orderby{
        top:0.5rem;
    }
    .orderby-heading {
        padding-top: 0.3rem;
    }
    .list-inline {
        padding-left: 11px;
    }
    .sorting button{
        background: none;
    }
    .agency-logo img{
        width: 11rem!important;
    }
    .custom-property-footer{
        position: initial!important;
    }
    .sorting-options.form-group{
        background-color: #ffffff!important;
        margin-bottom: 0;
        padding-left: 5px;
    }
    .custom-property-footer .viewmore-link{
        position: initial;
        margin-bottom: 1rem;
        margin-right: 1rem;
    }
    .left a{
        bottom: 13px;
    }
    /*.property-content .custom-facilities-list li{
        width: 26%;
    }*/
    .featured-listing-card .property-content .custom-facilities-list li {
        width: 26%;
    }
    .featured-listing-card .property-content {
        padding: 16px 10px !important;
    }
    .pagination{
        margin-top: 0;
        margin-bottom: 3rem;
    }
    .sorting-options.form-group {
        width: 100%;
    }
    .filter-option.pull-left{
        font-size: 12px;
        color: #045082;
    }
    .label-orderby {
        font-size: 1.2rem;
    }
    .sorting {
        margin-top: 1rem;
    }
    .orderby-heading {
        font-size: 11px;
        padding-top: 0.4rem;
    }
    .sorting .form-group .btn-group button {
        padding: 0;
    }

    /***************** single lsiting ****************/
    .Properties-details-section.sidebar-widget {
        padding-top: 0;
    }
    .fa.fa-map-marker-alt{
        color: #000000;
    }
    .Properties-details-section{
        padding-left: 0;
        padding-right: 0;
    }
    .panel-box.properties-panel-box{
        padding: 20px;
    }
    .properties-detail-slider.mb-40 {
        margin-bottom: 0px;
    }
    .singleListing .pull-left h3{
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    .half-width{
        width: 50%;
    }
    .extra-with{
        width: 53%;
    }
    .properties-panel-box .nav > li > a {
        padding: 10px 4px;
    }
    /********* normal listing ***********/

    .normal-listing .property-content .agency-logo img {
        width: 9rem !important;
    }
    .normal-listing .property-content .title{
        width: 66%;
        font-size: 16px;
    }
    .the-price {
        position: absolute;
        bottom: 19px;
    }
    .normal-listing .property-content .description{
        height: 6rem;
    }
    .normal-listing .pipe{
        padding-left: 5px!important;
    }
    /********** facebook section ***********/
    .bottom-border{
        position: absolute;
        bottom: 1rem;
        border-bottom:1px solid goldenrod ;
        width: 93%;
    }
    .left-border {
        border-left: none;

    }
    /************* footer **********************/
    .footer-item .links{
        padding-left: 11rem;
    }
}
/*
===========================================================================
 The following css wil manage responsiveness for device with screen 375px
===========================================================================
 */
@media (max-width: 375px) {
    /****************  homepage search area *******************/
    .homepage .property-content .custom-facilities-list li {
        width: 30%;
        font-size: 14px;
    }
    .search-area-inner h3 {
        font-size: 20px!important;
        padding-left: 15px;
         margin-top: 5px;
    }
    .search-fields {
        min-height: auto;
        padding:  0;
        box-shadow: none;
        border: none;
    }
    .form-group .btn-group button{
        padding: 12px 12px;
    }
    /***************** Listing page *****************/
    .featured-listing-card .property-content .custom-facilities-list li {
        width: 28%;
    }

    .orderby-heading {
        padding-top: 0.7rem;
        font-size: 13px;
    }
    .orderby-heading {
        padding-top: 0rem;
        font-size: 11px;
    }
    .form-group li .btn-group button {
        padding: 0;
    }
    /****************** footer ***************/
    .footer-item .links {
        padding-left: 9rem;
    }
}
@media (max-width: 360px) {
    #currency-changer-link {
        padding-top: 1.9rem !important;
    }

    /************** Partners logos **************/
    .partner-box a img {
        width: 15rem !important;
    }

    .property-content .custom-facilities-list li {
        width: 30%;
    }

    .normal-listing .property-content .custom-facilities-list li {
        width: 18%;
    }

    .featured-listing-card .property-content .custom-facilities-list li {
        width: 30%;
    }

    /*********************** orderby section ***************************/
    .option-bar .sorting {
        padding: 0;

    }
}

 
